turing_machine_core/fp-info-cache
turing_machine_core/plots
turing_machine_core/turing_machine-backups
turing_machine_core/gerber
turing_machine_core/~*
turing_machine_core/#*
turing_machine_driver/fp-info-cache
turing_machine_driver/plots
turing_machine_driver/turing_driver-backups
turing_machine_driver/gerber
turing_machine_driver/~*
turing_machine_driver/#*
control_panel/fp-info-cache
control_panel/plots
control_panel/control_panel-backups
control_panel/gerber
control_panel/~*
control_panel/#*
backplane/fp-info-cache
backplane/plots
backplane/backplane-backups
backplane/gerber
backplane/~*
backplane/#*
doc/Tura_dokumentacja.aux
doc/Tura_dokumentacja.log
doc/Tura_dokumentacja.synctex.gz
doc/Tura_dokumentacja.toc
