turing_machine_core/fp-info-cache
turing_machine_core/plots
turing_machine_core/turing_machine-backups
turing_machine_core/gerber
turing_machine_core/~*
doc/Tura_dokumentacja.aux
doc/Tura_dokumentacja.log
doc/Tura_dokumentacja.synctex.gz
doc/Tura_dokumentacja.toc
